/*----------------------------------------------------------home page*/
#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 12.5rem; /*footer height*/
}
.home-wrapper {/*wrapper for entire grid on home page*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}
.promo-vid-box {/*row for promo vid*/
    grid-area: 1 / 1 / 2 / 2;
}
.promo-vid {
    width: 100%;
    height: 100px;
}
.promo-text-box {/*row for text and button*/
    grid-area: 2 / 1 / 3 / 2;
}
.promo-text {
    font-size: 12px;
    line-height: 10px;
}
.promo-beneath-pad {/*padding for beneath vid*/
    padding-top: 130px;
}
.shop-button {
    background-color: #FEBBCC;
    border: none;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: auto;
    border-radius: 8px;
    font-family: Didot;
    font-size: 18px;
}
.shop-button:hover {
    background-color:#faa0b7;
}
.button-outer-padding {
    padding: 20px;
}
/*-------------------------------------------------------------footer*/
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem; /*footer height*/
    background-color: #FFDDCC;
    text-align: center;
    padding: 20px;
}
.footer-grid {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 18px 18px 18px;
    background-color: #FFDDCC;
    font-family: Didot;
    color: #faa0b7;

}
.break {
    grid-area: 1 / 1 / 2 / 3;
}
.a {
    font-size: 18px;
    grid-area: 2 / 1 / 3 / 2;
}
.b {
    grid-area: 3 / 1 / 4 / 2;
}
.b:hover{
    color: #FEBBCC;
}
.c {
    grid-area: 4 / 1 / 5 / 2;
}
.c:hover{
    color: #FEBBCC;
}
.d {
    font-size: 18px;
    grid-area: 2 / 2 / 3 / 3;
}
.e {
    grid-area: 3 / 2 / 4 / 3;
}
.e:hover{
    color: #FEBBCC;
}
.g {
    font-size: 18px;
    grid-area: 2 / 3 / 3 / 4;
}
.h {
    grid-area: 3 / 3 / 4 / 4;
}
.h:hover{
    color: #FEBBCC;
}
.i {
    grid-area: 4 / 3 / 5 / 4;
}
.i:hover{
    color: #FEBBCC;
}
/*--------------------------------------------------all products grid*/
.products {
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 20px 650px 650px;
    row-gap: 100px;
    padding: 50px 50px;
}
.sec-title {
    grid-area: 1 / 1 / 2 / 3;    
    color: #faa0b7;
    background-color: #FFDDCC;
    width: 100%;
    padding: 50px 60px 60px;
    text-align: center;
}
.product1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: 2 / 1 / 3 / 2;
}
.product2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: 2 / 2 / 3 / 3;
}
.product3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: 3 / 1 / 4 / 2;
}
.product4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: 3 / 2 / 4 / 3;
}
figure {
    font-family: Didot;
    color: #faa0b7;
    font-size: 20px;
}
.products-wrapper {
    padding: 25px 10px;
}
.product-img {
    height: 550px;
    width: 450px;
}
figure {
    font-family: Didot;
    color: #faa0b7;
    font-size: 20px;
}
.products-wrapper {
    padding: 25px 10px;
}
.product-img {
    height: 550px;
    width: 450px;
}
/*-------------------------------------------------individual product*/
.indi-product-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 50px;
}
.productDescriptionWPadding {
    grid-area: 1 / 2 / 3 / 3;
}
.productDescriptionBlock {
    padding: 30px;
    background-color: #FFCCCC;
}
.productName {
    color: #665e59;
}
.productDescription {
    color: #665e59;
}
.price {
    color: #665e59;
    padding: 12px;
}
.productImage1 {
    grid-area: 1 / 1 / 2 / 2;
}
.productImage2 {
    grid-area: 2 / 1 / 3 / 2;
}
.productImage3 {
    grid-area: 3 / 1 / 4 / 2;
}
.productImage {
    height: 500px;
    width: 430px;
    align-items: center;
    justify-content: center;
}
.stripe-button {
    background-color: #FEBBCC;
    border: none;
    color: white;
    padding: 12px;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: auto;
    border-radius: 8px;
    font-family: Didot;
    font-size: 15px;
}
.add-to-bag-button:hover{
    background-color: #73a6fa;
}

