/*------------------------------------------------------------general*/
* {
    margin: 0;
    padding: 0; 
}
body {
    background-color: #fcf9f2;
}
html, body {
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.marquee {
    padding-top: 10px;
    width: 100%;
    color: #faa0b7;
}
@font-face{
    font-family: Agatha;
    src:url(Agatha.ttf);
}
/*---------------------------------------------headers and paragraphs*/
h2 {
    font-family: Didot;
}
h5 {
    font-family: Didot;
}
p {
    font-family: Didot;
}
/*------------------------------------------------------------nav bar*/
.title {
    text-align: center;
    align-items: center;
    color:#faa0b7;
    font-size: 80px;
    font-family: Didot;
    padding-top: 30px;
}
.title:hover{
    color: #fa7395;
}
.navbar { /*entire row*/
    display: flex;
    list-style: none;
    font-size: 18px;
    padding: 30px;
}
nav { /*just the navigation*/
    flex: 1;
    text-align: center;
    padding-bottom: 20px;
}
nav ul { /*nav's unordered list*/
    display: inline-block;
    list-style-type: none;
    padding: 0;
}
nav li{ /*nav's list elements*/
    display: inline-block;
}
li a { /*individual links*/
    display: block;
    color: #faa0b7;
    text-align: center;
    padding: 1px 20px;
    text-decoration: none;
    font-size: 45px;
    font-family: Agatha;
}
li a:hover {
    color: #fa7395;
}
/*----------------------------------------------------------home page*/
#page-container {
    position: relative;
    min-height: 100vh;
}
.home-grid {/*grid for entire home page*/
    display: grid;
    grid-template-rows: 1fr 1fr 40px;
    grid-template-columns: 1fr;
}
.promo-vid-box {/*row for promo vid*/
    grid-area: 1 / 1 / 2 / 2;
}
.promo-vid {/*video itself*/
    width: 100%;
}
.promo-text-row {/*row for text and button*/
    grid-area: 2 / 1 / 3 / 2;
}
.promo-text {/*text itself*/
    font-size: 30px;
    line-height: 50px;
    color: #faa0b7;
}
.promo-text-content {/*text and button themselves*/
    padding-top: 200px;
}
.shop-button {
    background-color: #faa0b7;
    border: none;
    color: #fcf9f2;
    padding: 18px;
    text-align: center;
    display: flex;
    margin: auto;
    border-radius: 8px;
    font-family: Didot;
    font-size: 18px;
}
.shop-button:hover {
    background-color:#fa7395;
    color: white;
}
.button-outer-padding {
    padding: 20px;
}
/*-------------------------------------------------------------footer*/
.footer-grid {
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 18px 18px 18px;
    background-color: #fae3e9;
    font-family: Didot;
    color: #776e68;
    padding: 20px 0px 50px 0px;
}
.a {
    font-size: 18px;
    grid-area: 2 / 1 / 3 / 2;
}
.shortA {
    display: none;
}
.b {
    grid-area: 3 / 1 / 4 / 2;
}
.b:hover{
    color: #fa7395;
}
.c {
    grid-area: 4 / 1 / 5 / 2;
}
.c:hover{
    color: #fa7395;
}
.d {
    font-size: 18px;
    grid-area: 2 / 2 / 3 / 3;
}
.shortD {
    display: none;
}
.e {
    grid-area: 3 / 2 / 4 / 3;
}
.e:hover{
    color: #fa7395;
}
.g {
    font-size: 18px;
    grid-area: 2 / 3 / 3 / 4;
}
.shortG {
    display: none;
}
.h {
    grid-area: 3 / 3 / 4 / 4;
}
.h:hover{
    color: #fa7395;
}
.i {
    grid-area: 4 / 3 / 5 / 4;
}
.i:hover{
    color: #fa7395;
}
.a, .b, .c, .d, .e, .g, .h, .i {
    text-align: center; 
}
.footer-grid {
    cursor: pointer;
}
/*--------------------------------------------------all products grid*/
.prods-grid-padding {/*padding around the entire grid*/
    padding: 25px 10px;
}
.prods-grid {/*includes the title*/
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 20px 650px 650px;
    row-gap: 100px;
    padding: 50px 50px;
}
.sec-title-row {/*row for section title*/
    grid-area: 1 / 1 / 2 / 3;    
    color: #faa0b7;
    background-color: #fcf9f2;
    display: flex;/*like css grid, but flex*/
    align-items: center;/*aligns vertically*/
    justify-content: center;/*aligns horizontally*/
    width: 140%;
}
.sec-title {
    font-size: 50px;
    font-family: Agatha;
    color: #fa7395;
    padding-bottom: 18px;
}
.sec-title-content {/*title and subtitle themselves*/
    text-align: center;
    line-height: 34px;
}
.prod-1 {
    grid-area: 2 / 1 / 3 / 2;
}
.prod-fig:hover {
    color: #fa7395;
}
.prod-2 {
    grid-area: 2 / 2 / 3 / 3;
}
.prod-3 {
    grid-area: 3 / 1 / 4 / 2;
}
.prod-img {
    height: 500px;
    width: 400px;
}
figure {
    font-family: Didot;
    color: #faa0b7;
    font-size: 20px;
    text-align: center;
}
/*--------------------------------------------------------back button*/
.back-button {
    padding-left: 80px;
    padding-bottom: 20px;
    font-family: Didot;
    font-size: 20px;
    color: #faa0b7;
    border: none;
    background: none;
}
.back-button:hover {
    color: #fa7395;
}
/*-------------------------------------------------individual product*/
.indi-prod-grid {
    row-gap: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%; 
    padding-bottom: 100px;
}
.prod-details-block { /*entire pink block*/
    background-color: #fae3e9;
    grid-area: 1 / 2 / 2 / 3;
}
.prod-details-text {
    height: 574px;
    width: 450px;
    padding: 30px 30px 0px 30px;
    color: #776e68;
}
.prod-name {
    font-size: 26px;
    padding-bottom: 10px;
}
.prod-description {
    line-height: 25px;
}
.prod-image-1 {
    grid-area: 1 / 1 / 2 / 2;
}
.prod-image-2 {
    grid-area: 2 / 1 / 3 / 2;
}
.prod-image-3 {
    grid-area: 2 / 2 / 3 / 3;
}
.prod-image-4 {
    grid-area: 3 / 1 / 4 / 2;
}
.prod-image-5 {
    grid-area: 3 / 2 / 4 / 3;
}
.prod-image-6 {
    grid-area: 4 / 1 / 5 / 2;
}
.prod-image {
    height: 600px;
    width: 480px;
}
.links {
    text-decoration: underline;
}
/*---------------------------------------------------------size guide*/
.size-guide {
    grid-area: 3 / 1 / 4 / 3;
    height: 320px;
    width: 100%;
    justify-content: center;
    display: flex;
}
.size-guide-image {
    height: 280px;
    width: 780px;
}
.size-guide-row {
    padding: 30px 0px;
    color: #faa0b7;
    width: 100%;
    text-align: center;
    font-size: 24px;
    grid-area: 1 / 1 / 2 / 3;
}
.size-guide-grid {
    display: grid;
    row-gap: 20px;
}
.size-guide-back-button {
    font-family: Didot;
    font-size: 20px;
    color: #FEBBCC;
    border: none;
    background: none;
    grid-area: 2 / 1 / 3 / 2;
}
.size-guide-back-button:hover{
    color: #fa7395;
}
/*------------------------------------------------------return policy*/
.return-policy {
    grid-area: 3 / 1 / 4 / 3;
    text-align: center;
    height: 150px;
}
.return-policy-text {
    font-family: Didot;
    color: #665e59;
    text-align: left;
    line-height: 25px;
    display: inline-block;
}
/*------------------------------------------------------media queries*/
@media only screen and (min-device-width: 992px){ /*laptops, bigger than 992px*/
    .stripe-mobile {
        display: none;
    }
    .stripe-desktop {
        padding-top: 22px;
    }
    .subtitle-mobile {
        display: none;
    }
}
@media screen and (max-device-width: 600px) and (orientation:portrait) {/*iphone 12, smaller than 600*/
    .title {
        font-size: 45px;
    }
    p {
        font-family: Didot;
        padding: 10px;
    }
/*----------------------------------------------------------home page*/
    .promo-vid {/*video itself*/
        height: 300px;
    }
    .promo-text {/*text itself*/
        font-size: 22px;
        line-height: 30px;
        padding: 20px;
    }
    .promo-text-content {/*text and button themselves*/
        padding-top: 5px;
        padding-bottom: 25px;
    }
    .shop-button {
        padding: 12px;
        font-size: 15px;
    }
    .button-outer-padding {
        padding: 15px;
    }
/*-------------------------------------------------------------footer*/
    .footer-grid {
        row-gap: 8px;
        grid-template-rows: 12px 12px 12px;
        font-size: 14px;
    }
    .break {
        grid-area: 1 / 1 / 2 / 3;
    }
    .a {
        display: none;
    }
    .shortA {
        display: inline-block;
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
    }
    .d {
        display: none;
    }
    .shortD {
        display: inline-block;
        grid-area: 2 / 2 / 3 / 3;
        text-align: center;
    }
    .g {
        display: none;
    }
    .shortG {
        display: inline-block;
        grid-area: 2 / 3 / 3 / 4;
        text-align: center;
    }
/*--------------------------------------------------all products grid*/
    .prods-grid {/*includes the title*/
        row-gap: 40px;
        padding: 10px 20px;
        grid-template-rows: 20px 300px 300px;
    }
    .sec-title-row {/*row for section title*/
        width: 150%;
        height: 100px;
        font-size: 14px;
    }
    .sec-title {
        font-size: 22px;
        padding-top: 5px;
    }
    .subtitle-desktop {
        display: none;
    }
    .subtitle-mobile {
        font-size: 12px;
        line-height: 16px;
    }
    .sec-title-content {/*title and subtitle themselves*/
        line-height: 18px;
    }
    .prod-img {
        height: 150px;
        width: 120px;
    }
    .figure {
        font-size: 11px;/*why not working*/
    }
/*-------------------------------------------------individual product*/
    .back-button {
        padding-left: 25px;
        font-size: 18px;
        border: none;
    }
    .indi-prod-grid {
        row-gap: 20px;
        display: grid;
        place-items: center;
        grid-template-columns: 50% 50%; 
        padding-bottom: 50px;
    }
    .prod-details-block {
        grid-area: 1 / 2 / 4 / 3;
        background-color: #fcf9f2;
        padding-bottom: 20px;
    }
    .prod-details-text {
        height: 470px;
        width: 190px;
        font-size: 16px;
    }
    .prod-name {
        color: #665e59;
        font-size: 22px;
    }
    .prod-description {
        color: #665e59;
        line-height: 19px;
    }
    .prod-image-1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .prod-image-2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .prod-image-3 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .prod-image-4 {
        grid-area: 4 / 1 / 5 / 2;
    }
    .prod-image-5 {
        display: none;
    }
    .prod-image-6 {
        grid-area: 4 / 2 / 5 / 3;
    }
    .prod-image {
        height: 150px;
        width: 120px;
    }
    .stripe-desktop {
        display: none;
    }
    .stripe-mobile {
        grid-area: 5 / 1 / 6 / 3;
        padding-top: 30px;
    }
/*---------------------------------------------------------size guide*/
    .size-guide {/*size guide block, not image*/
        height: 300px;
    }
    .size-guide-image {
        height: 120px;
        width: 350px;
    }
    .size-guide-row {/*row for the title*/
        font-size: 14px;
    }
    .size-guide-back-button {
        font-size: 18px;
        padding-left: 12px;
    }
/*------------------------------------------------------return policy*/
    .return-policy {
        grid-area: 3 / 1 / 4 / 3;
        text-align: center;
        height: 300px;
    }
    .return-policy-text {
        line-height: 20px;
        padding: 24px;
    }
} 
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio : 3){
    .navbar { /*entire row*/
        display: flex;
        list-style: none;
        font-size: 18px;
        padding: 30px;
    }
    nav { /*just the navigation*/
        flex: 1;
        text-align: center;
        padding-bottom: 20px;
    }
    nav ul { /*nav's unordered list*/
        display: inline-block;
        list-style-type: none;
        padding: 0;
    }
    nav li{ /*nav's list elements*/
        display: inline-block;
    }
    li a { /*individual links*/
        font-size: 18px;
    }
    li a:hover {
        color: #fa7395;
    }
}
